/* Styling header */
header{
display: flex;
justify-content: space-between;
color: #514d4e;
position: sticky;
top: 0;
}

/* Styling Navbar */
nav{
    color: #514d4e;
    
}
nav ul{
    list-style: none;
    font-size: 30px;
    
}
nav ul li{
   
    display: inline;
    padding-left: 25px;
}
nav ul li a{
    color: #514d4e;
}
nav ul li a:hover{
color: aqua;
}
/*  */
.hero{
    background-image:url(../Images/hero-placeholder.jpg);
    height: 600px;
    background-size: cover;
    background-position:center ;
}
/* About Me section */
.sections{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
  
}
.title{

    flex-wrap: wrap;
font-size: 30px;
padding-right: 150px;
border-right: 3px solid black;
}

.description{
    flex-wrap: wrap;
    font-size: 26px;
    padding-left: 50px;
}
.profilepic{
    flex-wrap: wrap;
    height: 150px;
    width: 150px;
}

.contact-details ul {
   list-style: none;
}
.contact-details ul li{
    display: inline;
}