*{
    color: #514d4e;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: 'Quicksand', sans-serif;
}

/* Styling header */
header{
display: flex;
justify-content: space-between;
color: #514d4e;

/* position: sticky;
top: 0; */

}

header h1 a{
    text-decoration: none;
    color: #514d4e;
}

/* Styling Navbar */
nav{
    color: #514d4e;
    
}
nav ul{
    list-style: none;
    font-size: 30px;
    
}
nav ul li{
   
    display: inline;
    padding-left: 25px;
}
nav ul li a{
    color: #514d4e;
}
nav ul li a:hover{
color: aqua;
}
/*  */
.hero{
    background-image:url(../Images/hero-placeholder.jpg);
    height: 600px;
    background-size: cover;
    background-position:center ;
}
/* About Me section */
.sections{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    margin-bottom: 100px;
  
}
.title{
    width: 10%;
    margin: 0;
    flex-wrap: wrap;
    font-size: 30px;
    padding: 0 50px 0 0 ;
    border-right: 3px solid black;
   
}

.description{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 26px;
    padding-left: 50px;
    font-weight: lighter;
}
.description-2{
    width: 80%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.description img{
    padding-left: 50px;

    height: 300px;
    width: 300px;
}

.contact-details{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.item{
    width: 30%;
    margin: 0;
    padding: 0;
}
.item a{
    text-decoration: none;
    color: #514d4e;
}
.item a:hover{
    color: aqua;
}
.project img{
    width: 450px;
    height: 250px;
    opacity: 0.5;
    position: relative;
}
.project img:hover{
    opacity: 1;
}
.project-title{
    background-color: aqua;
    width: 200px;
    position: absolute;
   
    
}
.project-title h3{
    margin:0;
    padding-bottom: 5px;
    font-size: 26px;

}
.project-title h4{
    margin: 0;
    padding: 0;
    font-size: 15px;
}